<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.CAMERA" tools:node="remove" />
  <uses-feature android:name="android.hardware.camera.any" tools:node="remove" />
  <application
    android:name="android.app.Application"
    android:label="CodexQuota Stage 03C"
    tools:replace="android:name,android:label">
    <activity android:name=".MainActivity" tools:node="remove" />
    <activity android:name=".pairing.PairingActivity" tools:node="remove" />
    <activity android:name=".validation.ValidationActivity" tools:node="remove" />
    <activity android:name=".validation.Stage03AActivity" tools:node="remove" />
    <activity
      android:name=".validation.Stage03CActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
